*{
    margin:0;
    padding: 0;
}
*:focus {
    outline: none;
}
body{
    background-color: #2F343E;
    font-family: Arial;
}
.container{
    text-align: center;
    object-position: center;
}
#test{
    width: 50%;
    background-color: #d8dadd;
    margin: 15vh auto 0;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
    font-size: 7vh;
    max-height: 20vh;
    padding-top: 6.5vh;
    padding-bottom:6.5vh;
    
}
#startbtn, #backbtn, #okbtn, #subbtn{
    border: 2px solid transparent;
    background: #DA5C5C;
    color: #ffffff;
    line-height: 25px;
    object-position: center;        
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    display: block;
    width: 20vw;
    margin: 6vh auto 2vh;
}
#startbtn, #subbtn{
    font-size: 3.5vh;
    height: 5vh;
}
#backbtn{
    font-size: 2.5vh;
    height: 3.5vh;
}
#okbtn{
    font-size: 2.5vh;
    width: 10vw;
    height: 5vh;
    margin: 6vh auto;
}
#subbtn{
    margin-top: 2vh;
}
#startbtn:hover, #backbtn:hover, #okbtn:hover, #subbtn:hover{
    -webkit-box-shadow: 0px 0px 25px 2px rgba(128,128,128,0.8);
    -moz-box-shadow: 0px 0px 25px 2px rgba(128,128,128,0.8);
    box-shadow: 0px 0px 25px 2px rgba(128,128,128,0.8);
    cursor: pointer;
}
.submit{
    margin-top: 5vh;
}
#form{
    text-align: center;
    background-color: #d8dadd;
    border-radius: 3px;
    font-size: 1.5vw;
    font-weight: 300;
    padding: 0.4vh 0.2vw;
    width: 30vw;
    height: 10vh;
    transition: border .5s;
}

#prompt{
    width: 50%;
    height: 30vh;
    background-color: #2F343E;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    object-position: center;
    display: none;
    border: 2px solid #d8dadd;
    margin: 4vh auto;
}

#mathanswer{
    width: 50%;
    height: 5vh;
    padding: 1vw;
    margin: 6vh auto 0;
    border: none;
    font-size: 2.2vh;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
   
}
#mathanswer:hover, #form:hover{
    border: 2px solid #DA5C5C;
    box-shadow: none;
}

