*{
    padding: 0;
    margin:0;
}
*:focus{
    outline: none;
}

body{
    background-color: #2F343E;
    font-family: Arial;
}
.top{
    max-width: 50%;
    text-align: justify;
    margin-top: 5vh;
}
.top h1{
    text-align: center;
    margin-bottom: 2vh;
}
.instruction{
    border-radius: 10px;
    padding: 4vh;
    transform: translateX(50%);
    background-color: #d8dadd;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
}
.instruction p{
    font-size: 2vh;
}
.days{
    text-align: center;
    margin: 10vh 10% 5vh;
    width: 80%;
    font-weight: 400;
    font-size: 2.5vh;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.day{
    display:grid;
    padding-top: 5vh;
    height: 20vh;
    border: solid 1px #d8dadd;
    color: #d8dadd;
    margin:2vh;
    background-color: #2F343E;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
}
.btn{
    border: 2px solid transparent;
    background: #DA5C5C;
    color: #ffffff;
    font-size: 2.5vh;
    padding: 1vh;
    line-height: 25px;
    object-position: center;        
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    margin: 4vh auto 2vh;
}
.day a {
    text-decoration: none;
}
.btn:hover {
    -webkit-box-shadow: 0px 0px 25px 2px rgba(128,128,128,0.8);
    -moz-box-shadow: 0px 0px 25px 2px rgba(128,128,128,0.8);
    box-shadow: 0px 0px 25px 2px rgba(128,128,128,0.8);
    cursor: pointer;
}
.logoutbtn input{
    width: 15vw;
    height: 6vh;
    font-size: 3vh;
    background-color:  #DA5C5C;
    margin-bottom: 5vh;
}
@media(max-width: 1024px)
{
    *:hover{
        cursor:none;
    }
    .top{
        max-width: 100%;
        margin-top: 4vh;
    }
    .top h1{
        margin-bottom: 2vh;
        font-size:3vh;
    }
    .instruction{
        padding: 2vh;
        transform: translateX(0%);
        width:90%;
        margin: auto;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    }
    .instruction p{
        font-size: 2.2vh;
    }
    .days{
        margin: 2vh 5%;
        width: 90%;
        grid-template-rows: 7;
        grid-template-columns: 1fr;
        
    }
    .day{
        padding-top: 5vh;
        height: 20vh;
        width: 90%;
        margin:2vh auto;
        font-size: 3vh;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    }
    .btn{
        font-size: 3vh;
    }
    .logoutbtn input{
        width: 40vw;
        height: 6vh;
        font-size: 3vh;
        background-color:  #DA5C5C;
        margin-bottom: 5vh;
    }

}