<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='day.css') }}">

    <title>Wybór dnia</title>
    
</head>

<body>
    <div class="container">
       
        <div id="test">
            TEST
        </div> 
        
        <button id="startbtn" onclick="anim();callInterval()">Start</button>
        <form method="POST" action="/day7">
            {{ form.hidden_tag() }}
        <div class = "submit">
            {{ form.answer (id="form",placeholder="Odpowiedź") }}
        </div>
       
        <div class="submit">
            {{ form.submit(id="subbtn") }}
        {% if message %}
        <p class="mess_sent">{{ message }}</p>
        {% endif %} 
    </div>
    </form>
    <a href="/main"><button id="backbtn">Wróć na stronę główną</button></a>
    <div id="prompt" ><input id="mathanswer" placeholder="Wprowadz rozwiązanie", value="", onfocus="this.value=''"><button id="okbtn" onclick='callInterval()'">OK</button></div>
</div>  
<script>
var words = ["USTA","WIATRAK","ROBAK","OBUWIE","LUKIER","NAFTA","KSIĄŻE","LARWA","MAPA","IDEA","HALKA","JAWOR","BAK","HENNA","ANYŻ"]; 
var math_questions=["20-3+2=","1+8-1=","3*5-2=","16+4=","16/2+5="]
var arr = words.concat(math_questions)
var i = 0;
var interval = 3000
var form = document.getElementById('form')
var submit = document.getElementById('subbtn')
var test =document.getElementById('test')
var ok = document.getElementById('okbtn')
var prompt = document.getElementById("prompt")
var startbtn = document.getElementById("startbtn")
form.style.display="none"
submit.style.display="none"

function callInterval() {
// set a variable for setInterval
	var time = setInterval(()=>{
		test.innerHTML=arr[i];
        if (i > words.length - 1){
            
            interval=300;
            this.clearInterval(time);
            prompt.style.display="block"
            //var matma = prompt("Wpisz wynik działania matemtycznego")
            // tutaj wstaw instrukcje kiedy ktos cos zle wpisac i nie dawaj kochanie i++
            if (i > arr.length -1){
                this.clearInterval(time);
                test.innerHTML = "Koniec testu. Wprowadz to co zapamiętałeś w ponizszy formularz (słowa nalezy wprowadzać po przecinku. Np ziemniak,miłość)."
                test.style.fontSize = "3vh";
                test.style.padding = " 4vh auto";
                form.style.display="unset"
                submit.style.display = "unset"  
                prompt.style.display="none"
            } 
        }
        i++;
        }, interval);
    
}
var count = 4;


function anim() {
    if (count > 0) {
        
        startbtn.innerHTML = count
        count--;
        setTimeout(anim, 700);
    }
    else if (count ==1) {
       
        callInterval();
    }
    else{
        startbtn.style.display = "none"
    }
}


</script>





</body>

</html>