{% extends "admin.html" %}
{% block content %}
{% for user in users %}
 
<div class="contentUsers">
    <div class="Userbox">       
    <div id="login">Login: {{user.username}}</div>
    <div class="passwordUser"> Hasło: {{user.password}}</div> 
    </div>
    <div class="AnswersDays">Odpowiedzi:    
    <div class="answers">
        <ul>
        {% for answer in user.answers %}
            <li id="answer">{{ answer.day1}} </li>
        {% endfor %}
        </ul> </div> </div>
        
   
</div>
<script src="{{url_for('static', filename='correct.js')}}"></script>
{% endfor %}
{% endblock content %}